<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.ico" type="image/ico" />

    <title>@ViewData["Title"] | OnSale</title>
    <partial name="_CssImport" />
    @RenderSection("header", required: false)
</head>
<body class="nav-md">
    <!-- NoScript Alert -->
    <noscript>
        <div class="alert alert-danger" style="margin: 0;  border-radius: 0;">
            <span><strong>AVISO IMPORTANTE: </strong> Para utilizar esta aplicación es necesario tener <strong>JavaScript</strong> habilitado.</span>
        </div>
    </noscript>
    <!-- /NoScript Alert -->
    <div class="container body">
        <div class="main_container">
            <partial name="_Header" />
            @*@await Html.PartialAsync("_Sidebar.cshtml")*@
            <!-- page content -->
            <div class="right_col" role="main"style="background: Silver;">
                   @RenderSection("ContentHeader", required: false)
                   @RenderBody()
                   <div id="Loading" class="loader" style="display:none;">
                    <img src="~/images/loading.gif" style="width: 20%;" />
                   </div>
            </div>
            <!-- /page content -->
            <partial name="_Footer" />
            @*@await Html.PartialAsync("_ControlSidebar.cshtml")*@
        </div>
     </div>
    <partial name="_JsImport" />
    @RenderSection("scripts", required: false)
    @*<script>
    $(document).ready( function () {
    $('#dtable').DataTable();
    } );
    </script>*@
</body>
</html>

