@model IEnumerable<OnSale.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Usuarios";
}

@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New Admin</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Logitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFullPath)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Logitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <img src="@item.ImageFullPath" style="width:80px;height:80px;border-radius:50%" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
*@

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Administracion<small> - Usuario</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Buscar !</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                  <div class="x_title">
                    <h2>Usuarios<small> - Lista de usuario</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                                    <a asp-action="Create" class="btn btn-primary" style="background-color: #73879C;"><i class="glyphicon glyphicon-plus"></i> Nuevo Usuario</a>
                        Aqui se muestra una lista de todos los usuario registrado en la plataforma.
                    </p>
                     <table id="" class="table table-striped jambo_table bulk_action Dtable" style="width:100%">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Tipo</th>
                          <th>Email</th>
                          <th>Ciudad</th>
                          <th>Direccion</th>
                          <th>Latitud</th>
                          <th>Logitud</th>
                          <th>Telefono</th>
                          <th>Imagen</th>
                        </tr>
                      </thead>
                      <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr style="background-color: silver;">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserType)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.City.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Latitude)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Logitude)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                </td>
                                                <td>
                                                    <img src="@item.ImageFullPath" style="width:80px;height:80px;border-radius:50%" />
                                                </td>
                                            </tr>
                                        }
                      </tbody>
                    </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
           
            </div>
          </div>

    @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(document).ready(function () {
        //   $('#example2').DataTable();
        // $('example1').DataTable({
        //   'paging'      : true,
        //   'lengthChange': false,
        //   'searching'   : false,
        //   'ordering'    : true,
        //   'info'        : true,
        //   'autoWidth'   : false
        // })
        //})

        $('.Dtable').DataTable({
            //    dom: 'lBfrtip',
            //    buttons: [
            //                {
            //                    extend: 'copyHtml5',
            //                    text: 'Copiar <i class="fa fa-copy"></i>',
            //                    titleAttr: 'Copiar contenido',
            //                    className :'btn btn-primary btnBlue'
            //                },
            //                {
            //                    extend: 'excelHtml5',
            //                    text: 'Excel <i class="fa fa-file-excel-o"></i>',
            //                    titleAttr: 'Exportar a Excel',
            //                    className :'btn btn-success btnGreen'
            //                },
            //                {
            //                    extend: 'pdfHtml5',
            //                    text: 'PDF <i class="fa fa-file-pdf-o"></i>',
            //                    titleAttr: 'Exportar a PDF',
            //                    className :'btn btn-danger btnRed'
            //                },
            //                {
            //                    extend: 'csvHtml5',
            //                    text: 'CSV <i class="fa fa-file-excel-o"></i>',
            //                    titleAttr: 'Exportar a CSV',
            //                    className :'btn btn-success btnGreen'
            //                },
            //                {
            //                    extend: 'print',
            //                    text: 'Imprimir <i class="fa fa-print"></i>',
            //                    titleAttr: 'Imprimir',
            //                    className :'btn btn-info btnGray'
            //                },
            //            ],
            responsive: true,
            lengthChange: true,
            pageLength: 10,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            language: {
                processing: "Procesando",
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ Registros",
                info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                infoFiltered: "(Filtro de _MAX_ entradas en total)",
                infoPostFix: "",
                loadingRecords: "Cargando datos.",
                zeroRecords: "No se encontraron datos",
                emptyTable: "No hay datos disponibles",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });

     });
    </script>
}